{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'registration/login.css' %}">
{% endblock %}

{% block content %}
<div id="login-page">
    <div id="left-side">
        <img src="{% static 'images/login_bg.svg' %}" alt="Login Illustration">
    </div>

    <div id="login-container">
        <h1>Welcome Back </h1>
        <p class="subtitle">Log in to continue your learning journey with LearnFlow</p>

        {% if form.errors %}
            <p class="error-msg">Invalid username or password. Please try again.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
                <p class="error-msg">You don't have access to that page. Please use a valid account.</p>
            {% else %}
                <p class="error-msg">Please log in to view this page.</p>
            {% endif %}
        {% endif %}

        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>

        <div class="extra-links">
            <a href="{% url 'password_reset' %}">Forgot password?</a>
            <p>Don’t have an account? <a href="{% url 'signup' %}">Sign up</a></p>
        </div>
    </div>
</div>
{% endblock %}
