{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'registration/signup.css' %}">
{% endblock %}

{% block content %}
<div id="signup-page">
    <div id="left-side">
        <img src="{% static 'images/signup_bg.svg' %}" alt="Signup Background">
        <div class="left-text">
            <h2>Welcome to <span>LearnFlow</span></h2>
            <p>Connect. Collaborate. Grow together with your peers and mentors.</p>
        </div>
    </div>

    <div id="signup-container">
        <h1>Create Account</h1>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Sign Up</button>
        </form>
        <p class="login-link">Already have an account? <a href="{% url 'login' %}">Login here</a></p>
    </div>
</div>
{% endblock %}
