{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'manage/student_dashboard.css' %}">
{% endblock %}

{% block content %}
<div class="dashboard-container">
    <!-- STUDENT INFO CARD -->
    <div class="dashboard-container-left">
        <section class="profile-card">
            <div class="profile-left">
                <img src="{% static 'images/student_avatar.svg' %}" alt="Profile Picture" class="avatar">
            </div>
            <div class="profile-right">
                <h2>{{ request.user.get_full_name }}</h2>
                <p><strong>Email: </strong> {{ request.user.email }}</p>
                <p><strong>Joined: </strong> {{ request.user.date_joined|date:"F d, Y" }}</p>
                <p><strong>Section: </strong>{{ student.section.name }}</p>
                <p><strong>Roll No.: </strong>{{ student.roll_no }}</p>
                <p><strong>Semester: </strong>{{ student.semester }}</p>

                {% for subject in subjects %}
                    <p></p> {{ subject.code }}</p>
                {% endfor %}
            </div>
        </section>
    </div>

    <div class="dashboard-container-right">
        <section class="section-card">
            <h2>Enrolled courses</h2>
            <ul>
                {% for sec in sections %}
                <button class="subject-card" onclick=>
                
                </button>
                {% endfor %}
            </ul>
        </section>
    </div>
</div>
{% endblock %}
